
<header id="main-header">
<center>
<a id="logo-header" href="/">
<span class="site-name">Inicio</span>
</a> <!-- / #logo-header -->
</center>
<nav>
<ul>
<li><a href="/pablo">Piccaso</a></li>
<li><a href="/dali">Dali</a></li>
<li><a href="/claude">Claude</a></li>
</ul>
</nav><!-- / nav -->
</header><!-- / #main-header -->
<center>	

	  
